{
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{css,scss,sass}",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
